:root {
 --main-bg-color: cornsilk;
 --bg-accent: #efe8cc;
 --recipe-bg-color: #f6f6f6;
}

body {
  font-family: 'Courier', serif;
  background-color: var(--main-bg-color);
}

#recipeListDiv {
  display: inline-block;
  width:  30%;
  height: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: calc(100vh - 50px);
  width:  100%;
  overflow:scroll;
  overflow-x:hidden;
}

.interactBtn{
  width: 30px;
  height: 30px;
  background-color: var(--main-bg-color);
  border: none;
}

#shareBtn:hover {
  background-color: var(--bg-accent);
}

.mobileBtn {
  display: none;
  width: 30px;
  height: 30px;
  background-color: var(--bg-accent); /* Cornsilk: fff8dc, but darker */
  border: none;
}

#filterExit{
  width:  60px;
}

#searchDiv {
  display: inline-block;
  width:  15%;
  vertical-align: top;
}

#recipeContentsDiv {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.recipeItem {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

.authorSpan {
  font-size: 12px;
}

.categorySpan {
  font-size: 12px;
  float: right;
}

.recipeItem:hover {
  background-color: #eee;
}

.recipeItem:active {
  background-color: #aaa;
}

#recipeInput {
  width:  90%;
}

p {
  text-indent: 50px;
}

.hide {
  display: none;
}

details {
  padding-top: 10px;
  padding-bottom: 10px;
}

dialog {
  border: none;
  border-radius: 5px;
  background-color: var(--recipe-bg-color);
  width: 30%;
}

#shareUrlBox {
  width: 90%;
}

dialog > button {
  border: none;
  background-color: var(--recipe-bg-color);
}

dialog > button:hover {
  background-color: #eee;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #229412;
}

input:focus + .slider {
  box-shadow: 0 0 1px #229412;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}



@media screen and (max-width:  900px) {
  #searchDiv {
    display: block;
    width:  100%;
  }

  #recipeContentsDiv {
    display: none;
    width:  100%;
  }

  #recipeListDiv {
    width: 100%;
  }

  .mobileBtn {
    display:  inline-block;
    float: right;
  }

  .mobileBtn:hover {
    background-color: #dfd8bc;
  }

  #recipeListDiv {
    display:  none;
    height: 100%;
  }

  dialog {
    width: 90%;
  }

  #shareUrlBox {
    width: 80%;
  }
}