table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

#container {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 50% 50%;
}

#currentRace {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    justify-self: left;
    align-self: start;
}

#controlContainer {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    justify-self: center;
    align-self: center;
}

#nextRace {
    grid-row: 1 / 1;
    grid-column: 3 / 3;
    justify-self: left;
    align-self: start;
}